<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
  <head>
    <title th:text="#{mail.organization.invitation.subject}">Organization invitation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p th:text="#{mail.organization.invitation.greeting(${username})}">Hello,</p>
    <p th:text="#{mail.organization.invitation.text(${organizationName})}">You have been invited to join an organization.</p>
    <p><a th:href="${actionUrl}" th:text="#{mail.organization.invitation.action}">Accept invitation</a></p>
    <p th:text="#{mail.common.expiry}">This link is valid for a limited time.</p>
  </body>
</html>
